<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Bootstrap.php">
    <testsuites>
        <testsuite name="FadoeBase Testsuite">
            <directory>./FadoeBaseTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./report/coverage/" charset="UTF8" />
        <log type="testdox-html" target="./report/testdox.html" />
    </logging>
</phpunit>
